In [4]:
import pandas as pd
import socket, os
import csv
dataframe = pd.read_csv('Resources/election_data.csv')
#print('dataframe')

In [5]:
dataframe

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [3]:
dataframe.shape

(3521001, 3)

o	The total number of votes cast
o	A complete list of candidates who received votes
o	The percentage of votes each candidate won
o	The total number of votes each candidate won
o	The winner of the election based on popular vote.

In [6]:
print("Total of Votes "+str(dataframe['Voter ID'].count()))
print("Total of counties "+str(dataframe['County'].count()))
print("Total of Candidates "+str(dataframe['Candidate'].count()))

Total of Votes 3521001
Total of counties 3521001
Total of Candidates 3521001

In [8]:
#dataframe.Candidate.duplicated()
df = pd.DataFrame(dataframe)
#TVotes = pd.value_counts(df['Voter ID'])
#CanV = pd.value_counts(df['Candidate'])
#print(Canv)
#CanPrge = (Canv/TVotes)
#pd.value_counts(df['Voter ID']))

In [9]:
pd.value_counts(df['Voter ID'])

17958996    1
19918729    1
11071552    1
19599420    1
15411259    1
           ..
16635144    1
12430599    1
16622854    1
12434693    1
12584961    1
Name: Voter ID, Length: 3521001, dtype: int64

In [10]:
pd.value_counts(df['County'])

Marsh      2265957
Queen       697203
Bamoo       348658
Trandee     104617
Raffah      104566
Name: County, dtype: int64

In [11]:
pd.value_counts(df['Candidate'])

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [11]:
#	The percentage of votes each candidate won
(pd.value_counts(df['Candidate'])/3521001)*100

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [12]:
#he total number of votes each candidate won
pd.value_counts(df['Candidate'])

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [13]:
#The winner of the election based on popular vote.
cang = dataframe.groupby('County')

In [14]:
#for Candidate, County in cang:
 ##   print(County)
  #  print(Candidate)

In [15]:
for i in dataframe:
    print(i)

Voter ID
County
Candidate

In [1]:
#for ind,row in dataframe.iterrows():
   # print(ind,row)

In [19]:
Khan = 'Khan'
countK = 0
Correy = 'Correy'
countC = 0
Li = 'Li'
countL = 0
OTooley = 'OTooley'
countO = 0

for cnd in dataframe:
    if cnd== Khan:
        countK = countK + 1
   # elif cnd == Correy:
     #       countC = countC + 1
    #elif(cnd == Li):
    #            countL = countL + 1
    #elif(cnd == OTooley ):
    #                countO = countO + 1
print("{} has ocurred {} times".format(cnd,countK))
#print("{} has ocurred {} times".format(cnd,countC))
#print("{} has ocurred {} times".format(cnd,countL))
#print("{} has ocurred {} times".format(cnd,countO))

Candidate has ocurred 0 times

In [ ]:
#for ind,row in dataframe.iterrows():
#    print(ind,row)

In [ ]:
#file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)