In [202]:
import pandas as pd
import socket, os
dataframe = pd.read_csv('Resources/budget_data.csv')
#print('dataframe')

In [203]:
dataframe

        Date  Profit/Losses
0   Jan-2010         867884
1     feb-10         984655
2     mar-10         322013
3   Apr-2010         -69417
4     may-10         310503
..       ...            ...
81    oct-16         102685
82    nov-16         795914
83  Dec-2016          60988
84  Jan-2017         138230
85    feb-17         671099

[86 rows x 2 columns]

In [204]:
dataframe.head(87)
Pr_Lo = dataframe['Profit/Losses'].tolist()
Date = dataframe['Date'].tolist()
print("The list of numbers are", Pr_Lo)
#print ("El conjunto de fechas son", Date)

The list of numbers are [867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [205]:
Profits = []
Losses = []
for x in Pr_Lo:
    if (x >= 0):
        Profits.append(x)
    else:
        Losses.append(x)
print("Profits List", Profits)
print("Losses List", Losses)

Profits List [867884, 984655, 322013, 310503, 522857, 1033096, 604885, 477532, 893810, 779806, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, 1170593, 252788, 1151518, 817256, 570757, 506702, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, 268997, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, 757143, 445709, 712961, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
Losses List [-69417, -216386, -80353, -335203, -755566, -1022534, -1196225, -687986, -524626, -1100387, -174946, -1163797]

In [206]:
Profits = []
Losses = []
for x in Pr_Lo:
    if (x >= 0):
        Date.append(x)
        Profits.append(x) 
    else:
        Date.append(x)
        Losses.append(x) 
        
print("Profits List", Date,Profits)
print("Losses List", Date,Losses)

Profits List ['Jan-2010', 'feb-10', 'mar-10', 'Apr-2010', 'may-10', 'jun-10', 'jul-10', 'Aug-2010', 'sep-10', 'oct-10', 'nov-10', 'Dec-2010', 'Jan-2011', 'feb-11', 'mar-11', 'Apr-2011', 'may-11', 'jun-11', 'jul-11', 'Aug-2011', 'sep-11', 'oct-11', 'nov-11', 'Dec-2011', 'Jan-2012', 'feb-12', 'mar-12', 'Apr-2012', 'may-12', 'jun-12', 'jul-12', 'Aug-2012', 'sep-12', 'oct-12', 'nov-12', 'Dec-2012', 'Jan-2013', 'feb-13', 'mar-13', 'Apr-2013', 'may-13', 'jun-13', 'jul-13', 'Aug-2013', 'sep-13', 'oct-13', 'nov-13', 'Dec-2013', 'Jan-2014', 'feb-14', 'mar-14', 'Apr-2014', 'may-14', 'jun-14', 'jul-14', 'Aug-2014', 'sep-14', 'oct-14', 'nov-14', 'Dec-2014', 'Jan-2015', 'feb-15', 'mar-15', 'Apr-2015', 'may-15', 'jun-15', 'jul-15', 'Aug-2015', 'sep-15', 'oct-15', 'nov-15', 'Dec-2015', 'Jan-2016', 'feb-16', 'mar-16', 'Apr-2016', 'may-16', 'jun-16', 'jul-16', 'Aug-2016', 'sep-16', 'oct-16', 'nov-16', 'Dec-2016', 'Jan-2017', 'feb-17', 867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099] [867884, 984655, 322013, 310503, 522857, 1033096, 604885, 477532, 893810, 779806, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, 1170593, 252788, 1151518, 817256, 570757, 506702, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, 268997, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, 757143, 445709, 712961, 569899, 768450, 102685, 795914, 60988, 138230, 671099]
Losses List ['Jan-2010', 'feb-10', 'mar-10', 'Apr-2010', 'may-10', 'jun-10', 'jul-10', 'Aug-2010', 'sep-10', 'oct-10', 'nov-10', 'Dec-2010', 'Jan-2011', 'feb-11', 'mar-11', 'Apr-2011', 'may-11', 'jun-11', 'jul-11', 'Aug-2011', 'sep-11', 'oct-11', 'nov-11', 'Dec-2011', 'Jan-2012', 'feb-12', 'mar-12', 'Apr-2012', 'may-12', 'jun-12', 'jul-12', 'Aug-2012', 'sep-12', 'oct-12', 'nov-12', 'Dec-2012', 'Jan-2013', 'feb-13', 'mar-13', 'Apr-2013', 'may-13', 'jun-13', 'jul-13', 'Aug-2013', 'sep-13', 'oct-13', 'nov-13', 'Dec-2013', 'Jan-2014', 'feb-14', 'mar-14', 'Apr-2014', 'may-14', 'jun-14', 'jul-14', 'Aug-2014', 'sep-14', 'oct-14', 'nov-14', 'Dec-2014', 'Jan-2015', 'feb-15', 'mar-15', 'Apr-2015', 'may-15', 'jun-15', 'jul-15', 'Aug-2015', 'sep-15', 'oct-15', 'nov-15', 'Dec-2015', 'Jan-2016', 'feb-16', 'mar-16', 'Apr-2016', 'may-16', 'jun-16', 'jul-16', 'Aug-2016', 'sep-16', 'oct-16', 'nov-16', 'Dec-2016', 'Jan-2017', 'feb-17', 867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099] [-69417, -216386, -80353, -335203, -755566, -1022534, -1196225, -687986, -524626, -1100387, -174946, -1163797]

In [207]:
#Date + Profits
Date.extend(Profits)
Date

['Jan-2010',
 'feb-10',
 'mar-10',
 'Apr-2010',
 'may-10',
 'jun-10',
 'jul-10',
 'Aug-2010',
 'sep-10',
 'oct-10',
 'nov-10',
 'Dec-2010',
 'Jan-2011',
 'feb-11',
 'mar-11',
 'Apr-2011',
 'may-11',
 'jun-11',
 'jul-11',
 'Aug-2011',
 'sep-11',
 'oct-11',
 'nov-11',
 'Dec-2011',
 'Jan-2012',
 'feb-12',
 'mar-12',
 'Apr-2012',
 'may-12',
 'jun-12',
 'jul-12',
 'Aug-2012',
 'sep-12',
 'oct-12',
 'nov-12',
 'Dec-2012',
 'Jan-2013',
 'feb-13',
 'mar-13',
 'Apr-2013',
 'may-13',
 'jun-13',
 'jul-13',
 'Aug-2013',
 'sep-13',
 'oct-13',
 'nov-13',
 'Dec-2013',
 'Jan-2014',
 'feb-14',
 'mar-14',
 'Apr-2014',
 'may-14',
 'jun-14',
 'jul-14',
 'Aug-2014',
 'sep-14',
 'oct-14',
 'nov-14',
 'Dec-2014',
 'Jan-2015',
 'feb-15',
 'mar-15',
 'Apr-2015',
 'may-15',
 'jun-15',
 'jul-15',
 'Aug-2015',
 'sep-15',
 'oct-15',
 'nov-15',
 'Dec-2015',
 'Jan-2016',
 'feb-16',
 'mar-16',
 'Apr-2016',
 'may-16',
 'jun-16',
 'jul-16',
 'Aug-2016',
 'sep-16',
 'oct-16',
 'nov-16',
 'Dec-2016',
 'Jan-2017',
 'feb-17',
 867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099,
 867884,
 984655,
 322013,
 310503,
 522857,
 1033096,
 604885,
 477532,
 893810,
 779806,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 268997,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 757143,
 445709,
 712961,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099]

In [208]:
import sys
#type(Profits)
TProfits = tuple(Profits)
TLosses = tuple(Losses)
#print(TProfits[0:86])
print(TLosses[0:86])
#TProfits
#pd.DataFrame(column = Losses)
#pd.DataFrame(column=Profits)

(-69417, -216386, -80353, -335203, -755566, -1022534, -1196225, -687986, -524626, -1100387, -174946, -1163797)

In [209]:
#print (TProfits)
#print("Average in changes Profits and Losses "+str(TProfits.mean()))
#DFTProfits = pd.DataFrame(columns = TProfits)
DFTLosses = pd.DataFrame(columns = TLosses)
print (DFTLosses)

Empty DataFrame
Columns: [-69417, -216386, -80353, -335203, -755566, -1022534, -1196225, -687986, -524626, -1100387, -174946, -1163797]
Index: []

In [210]:
sort_by_cols_Budget = dataframe.sort_values(by = ['Profit/Losses'],ascending=False)
sum_ProfiLoss = dataframe['Profit/Losses'].sum()

In [211]:
dataframe.shape

(86, 2)

In [212]:
budget_losses = []
for n in dataframe:
    budget_losses.append(n)
    print(budget_losses)

['Date']
['Date', 'Profit/Losses']

In [214]:
budget_losses = [n for n in dataframe]
print (budget_losses)

['Date', 'Profit/Losses']

In [215]:
for key,value in dataframe.iteritems(): 
    print(key,value)

Date 0     Jan-2010
1       feb-10
2       mar-10
3     Apr-2010
4       may-10
        ...
81      oct-16
82      nov-16
83    Dec-2016
84    Jan-2017
85      feb-17
Name: Date, Length: 86, dtype: object
Profit/Losses 0     867884
1     984655
2     322013
3     -69417
4     310503
       ...
81    102685
82    795914
83     60988
84    138230
85    671099
Name: Profit/Losses, Length: 86, dtype: int64

In [216]:
print (dataframe.loc[44, :])

Date               sep-13
Profit/Losses    -1196225
Name: 44, dtype: object

In [217]:
#budget_Losses = []
#if dataframe['Profit/Losses'] < 0
#    budget_Losses.append()

In [218]:
#budget_bulleans = []
#for lenght in dataframe.Profit/Losses:
#    if lenght < 0 :
#        budget_bulleans.append(True)
#    else:
#        budget_bulleans.append(False)

In [219]:
import matplotlib.pyplot as plt
%matplotlib inline
print("Budget Data Analysis")


print("Total of Months "+str(dataframe['Date'].count()))
print("Total Amounts of Profits and Losses during the entire period $",sum_ProfiLoss)
#print("Average in changes Profits and Losses / Date "+str(dataframe['Date','Amount'].max()))
#print("Average in changes Profits and Losses"+str(dataframe['Amount'].max()))
##"Average in changes Profits and Losses / Date "+str(dataframe['Amount'].max()))
#print("Average in changes Date "+str(dataframe['Profit/Losses'].mean()))
#print("Average in changes Profits and Losses / Amount  "+str(dataframe['Profit/Losses'].mean()))
print("Average in changes Profits and Losses Amount $ "+str(dataframe['Profit/Losses'].mean()))
#print("The net total amount of "Profit/Losses" over the entire period "+str(dataframe['Profit/Losses'].sum()))

#print("Greatest Increase in Profits"+str(dataframe['Date'].max()))
print("Greatest Increase in Profits "+str(dataframe.loc[25,:]))
#print("Greatest Increase in Profits / Amount $"+str(dataframe['Profit/Losses'].max()))
#var = dataframe['Date'].extend(dataframe['Profit/Losses'])
print("Greatest Decrease in Profits "+str(dataframe.loc[44, :]))

#print("Greatest Decrease in Profits / Date "+str(dataframe['Date'].min()))
                                            #+str(dataframe['Profit/Losses'].min()))
#print("Greatest Decrease in Profits / Date "+str(var.min()))
#print("Greatest Decrease in Profits / Amount $"+str(dataframe['Profit/Losses'].min()))
#print(var)
#dataframe.loc[26,26]

Budget Data Analysis
Total of Months 86
Total Amounts of Profits and Losses during the entire period $ 38382578
Average in changes Profits and Losses Amount $ 446309.0465116279
Greatest Increase in Profits Date              feb-12
Profit/Losses    1170593
Name: 25, dtype: object
Greatest Decrease in Profits Date               sep-13
Profit/Losses    -1196225
Name: 44, dtype: object